# https://www.kernel.org/pub/software/scm/git/docs/git-shortlog.html#_mapping_authors

# Christian Walde variations
Christian Walde <walde.christian@gmail.com> Christian 'Mithaldu' Walde <walde.christian@gmail.com>
Christian Walde <walde.christian@gmail.com> Christian Walde <walde.christian@googlemail.com>
Christian Walde <walde.christian@gmail.com> Christian Walde <walde@united-domains.de>

# Matthew Horsfall / WolfSage variations
Matthew Horsfall <wolfsage@gmail.com> Matthew Horsfall <WolfSage@gmail.com>

# Mike O'Regan variations
Mike O'Regan <moregan@stresscafe.com> Mike <moregan@stresscafe.com>

# Adam Kennedy variations
Adam Kennedy <adamk@cpan.org> Adam Kennedy <adam@ali.as>
