language: perl
perl:
  - "dev"
  - "5.21"
  - "5.20"
  - "5.18"
  - "5.16"
  - "5.14"
  - "5.12"
  - "5.10"
  - "5.8"
before_install:
  - eval $(curl https://travis-perl.github.io/init) --auto
  - cpanm -n Devel::Cover::Report::Coveralls Test::ClassAPI Test::Warnings
script:
  perl Makefile.PL && make && cover -test -report coveralls
